pkgbase = iso2chd
	pkgdesc = Advanced batch ISO/BIN to CHD conversion utility by Abhimanyu Bhadauriya
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/penguin-crate/iso2chd
	arch = any
	license = GPL-3.0-or-later
	depends = bash
	depends = mame-tools
	depends = coreutils
	depends = gawk
	source = iso2chd
	source = iso2chd.1
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = iso2chd
